/* ===================================================>
+                    Pricing Styles                   +
<=================================================== */

.pricing-plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.pricing-plan-one {
    width: 25%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    &:hover {
    	-moz-box-shadow: 0px 0px 10px #dbdcdc;
	    -webkit-box-shadow: 0px 0px 10px #dbdcdc;
	    box-shadow: 0px 0px 10px #dbdcdc;
	    z-index: 1;
    }
    .pricing-title-collum {
	    font-size: 24px;
	    border-bottom: 1px solid #f1f3f4;
	    text-transform: uppercase;
	    color: #717171;
	    padding: 20px 0 14px 0;
	    background-color: #f8fcfe;
	    border-radius: 3px;
	    font-family: 'Montserrat-Bold', sans-serif;
	}
	.pricing-title-price {
	    color: #ffffff;
	    font-size: 39px;
	    font-family: 'Montserrat-Bold', sans-serif;
	    background-color: #2e4a5b;
	    height: 102px;
	    padding-top: 30px;
	    border-top: 1px solid #86959e;
	    border-bottom: 1px solid #86959e;
	}
	.pricing-green {
	    color: $color_green;
	    background-color: #f8fcfe;
	}
	.price-green {
	    color: $color_white;
	    background-color: $color_green;
	}
	.pricing-list {
	    margin: 0;
	    padding: 0;
	}
	.prising-action {
	    padding-top: 17px;
	    padding-bottom: 27px;
	    background-color: #f8fcfe;
	    border-radius: 3px;
	    border-top: 1px solid #eceeef;
	    .pricing-button {
			@include button(#2e4a5b);
			height: 50px;
			line-height: 50px;
			cursor: pointer;
			&:hover {
				background: $color_green;
				color: $color_white;
			}
		}
	}
}

.action-pricing-plan {
	    -moz-box-shadow: 0px 0px 10px #dbdcdc;
	    -webkit-box-shadow: 0px 0px 10px #dbdcdc;
	    box-shadow: 0px 0px 10px #dbdcdc;
		z-index: 1;
		position: relative;
}

.pricing-month {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat-Light', sans-serif;
}

.pricing-specification {
    list-style: none;
    background-color: #f8fcfe;
    font-family: 'Montserrat-Light', sans-serif;
    color: #777777;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 12px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #e9ebeb;
    border-top: 1px solid #e5e5e6;
}

.pricing-offer {
	position: absolute;
	right: -1px;
	top: -1px;
}